services:
  - type: web
    name: web-portfolio
    env: php
    buildCommand: docker build -t web-portfolio .
    startCommand: docker run -p $PORT:8080 web-portfolio
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_KEY
        generateValue: true
      - key: DB_CONNECTION
        value: pgsql
      - key: DATABASE_URL
        fromDatabase:
          name: portfolio-db
          property: connectionString
      - key: CACHE_DRIVER
        value: file
      - key: SESSION_DRIVER
        value: file
      - key: QUEUE_CONNECTION
        value: sync

databases:
  - name: portfolio-db
    databaseName: portfolio
    user: portfolio_user